// Colors

$white: #FFFFFF;
$blue: #4ABDAC;
$orange: #FC4A1A;
$yellow: #F7B733;
$grey: #DFDCE3;
$black: #000000;


//Fonts
$font-family: 'Open Sans', sans-serif;
$font: normal 16px/18px $font-family;


