.btn-search {
	background-color: $orange;
	outline: none;
	color: $white;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: $black;
}
